.bundle/
.idea/
.yardoc
.DS_Store
Gemfile.lock
_yardoc/
coverage/
doc/
pkg/
spec/reports/
test/*.sqlite3.db
test/dummy_app/**/*.csv
test/dummy_app/**/*.ods
test/dummy_app/**/*.xlsx
test/dummy_app/**/*.log
tmp/
