.bundle/
.yardoc
.DS_Store
Gemfile.lock
_yardoc/
coverage/
doc/
pkg/
spec/reports/
test/*.sqlite3.db
test/dummy_app/tmp/**/*.csv
test/dummy_app/tmp/**/*.ods
test/dummy_app/tmp/**/*.xlsx
test/dummy_app/tmp/**/*.log
test/dummy_app/log/*.log
tmp/
