language: ruby
sudo: false
cache: bundler
rvm:
  - 2.3
  - 2.4
  - 2.5
  - 2.6
  - 2.7
  - ruby-head
  
jobs:
  allow_failures:
  - rvm: ruby-head

gemfile:
  - gemfiles/caxlsx.gemfile
  - gemfiles/caxlsx_3.0.0.gemfile
  - gemfiles/caxlsx_2.0.2.gemfile

notifications:
  email:
    on_success: never
    on_failure: always
