name: Tests
on:
  push:
    branches: ['master']
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest

    env:
      RAILS_ENV: test

    strategy:
      fail-fast: false
      matrix:
        include:
          ### TEST RUBY VERSIONS
          - ruby: "2.5"
          - ruby: "2.6"
          - ruby: "2.7"
          - ruby: "3.0"
            db_gem_version: "~> 1.4" # fixes sqlite3 gem dependency issue
          - ruby: "3.1"
          - ruby: "3.2"
          - ruby: "3.3"
          ### TEST RAILS VERSIONS
          - ruby: "2.6"
            rails_version: "~> 5.2.0"
          - ruby: "2.6"
            rails_version: "~> 6.0.0"
          - ruby: "2.6"
            rails_version: "~> 6.1.0"
          - ruby: "3.3"
            rails_version: "~> 7.0.0"
            db_gem_version: "~> 1.4" # fixes sqlite3 gem dependency issue
          - ruby: "3.3"
            rails_version: "~> 7.1.0"
          - ruby: "3.3"
            rails_version: "~> 7.2.0"

    steps:
    - uses: actions/checkout@v3

    - name: Set env variables
      run: |
        echo "RAILS_VERSION=${{ matrix.rails_version }}" >> "$GITHUB_ENV"
        echo "DB_GEM=${{ matrix.db_gem }}" >> "$GITHUB_ENV"
        echo "DB_GEM_VERSION=${{ matrix.db_gem_version }}" >> "$GITHUB_ENV"

    - name: Install ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: "${{ matrix.ruby }}"
        bundler-cache: false ### not compatible with ENV-style Gemfile

    - name: Run test
      run: |
        bundle install
        bundle exec rake test
